:root {
}

@media (prefers-color-scheme: dark) {
  :root {
}
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(90deg, #12100e 0%, #172335 74%)!important;
}

.shine {
  animation: shine 10s ease infinite;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 45deg;
}

.button {
  --a: 15deg;
  background: linear-gradient(var(--a), #13547a 0%, #64a29b 100%);
  transition: --a 1s!important;
}

.trigger-button {
  opacity: 0;
  transform: translateY(-60%);
}

.button:hover {
  --a: 120deg;
}

.todo-enter {
  opacity: 0;
  transform: translateX(-30%);
}

.todo-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.todo-exit {
  opacity: 1;
  transform: translateX(0%);
}

.todo-exit-active {
  opacity: 0;
  transform: translateX(30%);
  transition: all 500ms ease-in;
}

.banner {
  min-height: 100vh;
  z-index: 10;
  background: #172335;
  position: fixed;
  top: 0;
  width: 25vw;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.link {
  transform: scale(0.6);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
  transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes fade-in {
  100% {
    transform: translate(0) rotate(-90deg);
    opacity: 1;
  }
}